html {
    overflow-y: scroll;
}

body {
    background: #000;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #fff;
}

button {
    background: #00bcd4;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 160px;
    margin: 10px;
    outline: none;
    border: none;
}

p {
    font-size: 2em;
    color: #fff;
}

.container {
    margin: 4rem auto;
    width: 1000px;
    color: #fff;
    text-align: center;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    margin-top: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-style: inset 0 0 6px #00bcd4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00bcd4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: lightblue;
}
